<section class="header__wrapper js_headerWrapper">
  {%- render 'announcement' -%}
  <header class="header">
    
    {%- render 'nav-mobile' -%}

    <div class="header__block header__logo">
      <a class="logo__link" href="/">
        {% if section.settings.header_logo %}
          {{ section.settings.header_logo }}
        {% else %}
          {% render 'icons',icon:'logo'%}
        {% endif %}
      </a>
    </div>
    

    {%- render 'nav-desk' -%}

    <div class="header__block header__icons below1366-only">
      {% include 'header-icons' %}
    </div>

  </header>
</section>

{% schema %}
{
  "name":"Header",
  "settings":[
    {
      "type": "header",
      "content": "Announcement Bar"
    },
    {
      "type":"checkbox",
      "id":"announcement_enabled",
      "label":"Show announcement",
      "default":true
    },
    {
        "type":"checkbox",
        "id":"announcement_home_page_only",
        "label":"Show on home page only",
        "default":true
    },
    {
        "type":"text",
        "id":"announcement_message",
        "label":"announcement message",
        "default":"UPHOLSTERY ORDERS MAY BE DELAYED DUE TO COVID-19."
    },
    {
        "type":"text",
        "id":"readmore_label",
        "label":"read more label",
        "default":"Read more"
    },   
    {
        "type":"url",
        "id":"readmore_link",
        "label":"read more link"
    },
    {
        "type":"link_list",
        "id":"topbar_menu",
        "label":"Topbar Menu"
    },
    {
      "type": "header",
      "content": "Page Header"
    },
    {
      "type": "html",
      "id": "header_logo",
      "label": "logo markup"
    },
    {
        "type":"link_list",
        "id":"menu",
        "label":"Primary Menu"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name" : "Menu Cards",
      "settings" :[
        {
          "type": "text",
          "id" : "card_name",
          "label": "Card Name"
        },
        {
          "type": "text",
          "id" : "card_title",
          "label": "Card Title"
        },
        {
          "type": "url",
          "id" : "card_url",
          "label": "Card Link"
        },
        {
          "type": "image_picker",
          "id" : "card_image",
          "label": "Card Image"
        }
      ]
    }
  ]
} 
{% endschema %} 