:root {  
    --body-text: "HelveticaNeue";
    --body-size: 16px;
    --body-weight: 200;
    --body-height: 1.5;

    --body2-size: 14px;
    --body2-height: 20px;

    --caption-size: 12px;
    --caption-height: 16px;
    --caption-space: 0.1px;

    --small-size: 10px;
    --small-height: 14px;
    --small-space: 0.2px;
    
    --berlingske-serif: "BerlingskeSerif";
    --artisan-script: "TheArtisanScript";
    
    --heading-weight: 200;

    --button-size: 12px;
    --button-weight: 400;
    --button-space: 1px;

    --link-size: 12px;
    --link-weight: 400;

    //h1
    --heading-1-size: 32px;
    --heading-1-height: 40px;
    --heading-1-space: 0;
  
    //h2
    --heading-2-size: 24px;
    --heading-2-height: 32px;
    --heading-2-space: 0.1px;
  
    //h3
    --heading-3-size: 20px;
    --heading-3-height: 32px;
    --heading-3-space: 0.2px;
  
    //h4
    --heading-4-size: 18px;
    --heading-4-height: 32px;
    --heading-4-space: 0.3px;

    @include above("tablet-large") { 
        //h1
        --heading-1-size: 56px;
        --heading-1-height: 64px;
        --heading-1-space: 0;

        //h2
        --heading-2-size: 48px;
        --heading-2-height: 56px;
        --heading-2-space: 0;

        //h3
        --heading-3-size: 40px;
        --heading-3-height: 48px;
        --heading-3-space: 0;

        //h4
        --heading-4-size: 32px;
        --heading-4-height: 40px;
        --heading-4-space: 0;

        //h5
        --heading-5-size: 24px;
        --heading-5-height: 32px;
        --heading-5-space: 0.1px;

        //h6
        --heading-6-size: 20px;
        --heading-6-height: 32px;
        --heading-6-space: 0.2px;

        --button-size: 10px;
    }

}