$component: '.timeless';

#{$component}{
   position: relative;
   margin-bottom: 4rem;
   @include above('tablet-large'){
      margin-bottom: 6rem;
   }
}
#{$component}__title{
   padding-top: 2rem;
   text-align: center;
   background-color: color('grey');

   @include above('tablet-large'){
      margin-left: 4rem;
      padding-top: 6rem;
   }
}

#{$component}__blocks{
   padding-top: 1.5rem;
   background-color: color('grey');

   @include above('tablet-large'){
      margin-left: 4rem;
      padding-top: 6rem;
   }
}

#{$component}__cta{ 
   padding-top: 1rem;
   
   @include above('tablet-large'){
   }
}

#{$component} #{$component}__arrow{ 
   width: 4.5rem;
   height: 4.5rem;
   border-radius: 50%;
   transform: translateY(-50%);
   background-color: #fff;
}

#{$component} #{$component}__arrow--left, .swiper-button-prev{ 
   left: -2.625rem;
   svg{
      position: relative;
      left: 1.125rem;
   }
}

#{$component} #{$component}__arrow--right, .swiper-button-next{ 
   right: -2.625rem;
   svg{
      position: relative;
      right: 1.125rem;
   }
}

#{$component}{
   .swiper-wrapper{
      padding-bottom: 4.1875rem;
      padding-left: 4rem;
   }

   .swiper-button-prev:after, .swiper-button-next:after {
      content: "" !important;
   }
   
   .swiper-button-prev.swiper-button-disabled {
      display: none;
   }
   
   .swiper-button-next.swiper-button-disabled {
      display: none;
   }
}