$component: '.nav';

#{$component}{
  margin: 0 -1.2rem;

  @include above(1440px){
    margin: 0 -1.5rem;
  }
}

#{$component}__list{
  display: flex;
  padding: 0;
  margin: 0;
}

#{$component}__item{
  margin: 0 1.2rem;

  @include above(1440px){
    margin: 0 1.5rem;
  }
}

#{$component}__item-link{
  position: relative;
  display: block;
  padding: 1.7rem 0;
  text-transform: uppercase;
  font-size: .8125rem;
  letter-spacing: .0625rem;
  color: color('black');

  &::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.125rem;
    z-index: 9;
    background-color: #626448;
    transition: width ease-in .3s;
  }
}

.nav__item--active .nav__item-link::after{
  width: 100%;
}

.nav__item--active{
  border-bottom: 0.0625rem solid #cecdb6;
}

.nav__item--mega:after {
  content: "";
  width: 100%;
  background-color: #000c;
  position: fixed;
  height: 100vh;
  top: 7.8125rem;
  left: 0;
  z-index: -2;
  opacity: 0;
  pointer-events: none;
  cursor: text;
  transition: opacity .5s ease;
}

.nav__item--active.nav__item--mega:after {
  opacity: 1;
  pointer-events: all;
}

.megamenu{
  padding: 2.5rem 6.6875rem;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: #fff;
  transform: translateY(-400px);
  transition: transform ease .7s,visibility ease .2s;
  z-index: -1;
}

.nav__item--active .megamenu{
  visibility: visible;
  transform: translateY(0);
  -webkit-transform: translate3d(0,0,0);
  pointer-events: all;
}

.megaMenu__container {
  overflow: hidden;
}

.megamenu__inner{
  display: flex;
  justify-content: center;
  opacity: 0;
  transform: translateY(-101%);
  transition: transform ease .3s,opacity ease .3s;
}

.nav__item--active .megamenu__inner{
  transform: translateY(0);
  opacity: 1;
  transition: transform ease .3s,opacity ease .3s;
}

.megamenu__block {
  &:not(:last-child){
    margin-right: 3rem;
    @include above(1440px){
      margin-right: 4rem;
    }
    @include above(1633px){
      margin-right: 6rem;
    }
  }
}

.megaMenu__block.megaMenu__card {
  max-width: rem(298px);
}

.megamenu__title, .megaMenu__card-title{
    font-size: .8125rem;
    letter-spacing: .0625rem;
    line-height: 1rem;
    text-transform: uppercase;
    display: block;
    margin-bottom: 0.8125rem;
    font-weight: 400;
}

.megamenu__list{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.megamenu__item-link{
  line-height: 2rem;
  font-size: .875rem;
  letter-spacing: 0;  
}