<div class="wrapper">
    <session class="section section--fonts">
        <h2 class="section__title">Fonts</h2>
        <div class="section__row">
            <p class="row-title">Berlingske Serif Display — Medium</p>
            <div class="font font--berlingske"><strong>ABCDEFGHIJKLMNOPQRSTUVWXYZ <br> abcdefghijklmnopqrstuvwxyz0123456789</strong></div>
        </div>
        <div class="section__row">
            <p class="row-title">Berlingske Serif Display — Light</p>
            <div class="font font--berlingske">ABCDEFGHIJKLMNOPQRSTUVWXYZ <br> abcdefghijklmnopqrstuvwxyz0123456789</div>
        </div>
        <div class="section__row">
            <p class="row-title">Helvetica Neue — Medium</p>
            <div class="font"><strong>ABCDEFGHIJKLMNOPQRSTUVWXYZ <br> abcdefghijklmnopqrstuvwxyz0123456789</strong></div>
        </div>
        <div class="section__row">
            <p class="row-title">Helvetica Neue — Light</p>
            <div class="font">ABCDEFGHIJKLMNOPQRSTUVWXYZ <br> abcdefghijklmnopqrstuvwxyz0123456789</div>
        </div>
        <div class="section__row">
            <p class="row-title">The Artisan — Script</p>
            <div class="font font--artisan-script">ABCDEFGHIJKLMNOPQRSTUVWXYZ <br> abcdefghijklmnopqrstuvwxyz0123456789</div>
        </div>
    </session>
    <session class="section section--headings-desk">
        <h2 class="section__title">Headings - Desktop</h2>
        <div class="section__row">
            <p class="row-title">H1 <br> Berlingske Serif — Light / 56 / 64 / 0 </p>
            <h1>Curated by Society Social</h1>
        </div>
        <div class="section__row">
            <p class="row-title">H1 <br> Berlingske Serif — Medium / 56 / 64 / 0 </p>
            <h1><strong>Curated by Society Social</strong></h1>
        </div>
        <div class="section__row">
            <p class="row-title">H2 <br> Berlingske Serif — Light / 48 / 56 / 0 </p>
            <h2>Endless Colors</h2>
        </div>
        <div class="section__row">
            <p class="row-title">H3 <br> Berlingske Serif — Light / 40 / 48 / 0</p>
            <h3>A Return to Charming</h3>
        </div>
        <div class="section__row">
            <p class="row-title">H4 <br> Berlingske Serif — Light / 32 / 40 / 0</p>
            <h4>The Wallpaper Shop</h4>
        </div>
        <div class="section__row">
            <p class="row-title">H5 <br> Berlingske Serif — Light / 24 / 32 / 0.1 </p>
            <h5>Celebration of  the Ultrafeminine</h5>
        </div>
        <div class="section__row">
            <p class="row-title">H6 <br> Berlingske Serif — Light / 20 / 32 / 0.2</p>
            <h6>The Claremont All-Weather Wicker Outdoor Collection</h6>
        </div>
    </session>
    <session class="section section--headings-mob">
        <h2 class="section__title">Headings - Mobile</h2>
        <div class="section__row">
            <p class="row-title">H1 <br> Berlingske Serif — Light / 32 / 40 / 0 </p>
            <h1>A Return to Charming</h1>
        </div>
        <div class="section__row">
            <p class="row-title">H1 <br> Berlingske Serif — Medium / 32 / 40 / 0 </p>
            <h1><strong>A Return to Charming</strong></h1>
        </div>
        <div class="section__row">
            <p class="row-title">H2 <br> Berlingske Serif — Light / 24 / 32 / 0.1 </p>
            <h2>The Wallpaper Shop</h2>
        </div>
        <div class="section__row">
            <p class="row-title">H3 <br> Berlingske Serif — Light / 20 / 32 / 0.2</p>
            <h3>Celebration of  the Ultrafeminine</h3>
        </div>
        <div class="section__row">
            <p class="row-title">H4 <br> Berlingske Serif — Light / 18 / 32 / 0.3</p>
            <h4>The Claremont All-Weather Wicker Outdoor Collection</h4>
        </div>
    </session>
    <session class="section section--fonts">
        <h2 class="section__title">Headings - Script</h2>
        <div class="section__row">
            <p class="row-title">Since this font is going to be used <br> randomly and sparsely, sizes will be <br> an ongoing work.</p>
            <div class="artisan-script headings-script">Inspiration</div>
        </div>
    </session>
    <session class="section section--pragraph">
        <h2 class="section__title">Typography - Paragraph</h2>
        <div class="section__row">
            <span class="row-title">Body 1 &nbsp; &nbsp; &nbsp; &nbsp; Helvetica Neue — Light / 16 / 24 / 0</span>
            <p>Furniture is our legacy, quality is our priority.</p>
        </div> 
        <div class="section__row">
            <span class="row-title">Strong 1 &nbsp; &nbsp; &nbsp; &nbsp; Helvetica Neue — Medium / 16 / 24 / 0</span>
            <p><strong>Furniture is our legacy, quality is our priority.</strong></p>
        </div>
        <div class="section__row">
            <span class="row-title">Body 2 &nbsp; &nbsp; &nbsp; &nbsp; Helvetica Neue — Light / 14 / 20 / 0</span>
            <p class="body2">Furniture is our legacy, quality is our priority.</p>
        </div>
        <div class="section__row">
            <span class="row-title">Strong 2 &nbsp; &nbsp; &nbsp; &nbsp; Helvetica Neue — Medium / 14 / 20 / 0</span>
            <p class="body2"><strong>Furniture is our legacy, quality is our priority.</strong></p>
        </div>
        <div class="section__row">
            <span class="row-title">Caption &nbsp; &nbsp; &nbsp; &nbsp; Helvetica Neue — Light / 12 / 16 / 0.1</span>
            <p class="caption">Furniture is our legacy, quality is our priority.</p>
        </div>
        <div class="section__row">
            <span class="row-title">Caption Strong &nbsp; &nbsp; &nbsp; &nbsp; Helvetica Neue — Medium / 12 / 16 / 0.1</span>
            <p class="caption"><strong>Furniture is our legacy, quality is our priority.</strong></p>
        </div>
        <div class="section__row">
            <span class="row-title">Small &nbsp; &nbsp; &nbsp; &nbsp; Helvetica Neue — Light / 10 / 14 / 0.2</span>
            <p><small>Furniture is our legacy, quality is our priority.</small></p>
        </div>
        <div class="section__row">
            <span class="row-title">Small Strong &nbsp; &nbsp; &nbsp; &nbsp; Helvetica Neue — Medium / 10 / 14 / 0.2</span>
            <p><small><strong>Furniture is our legacy, quality is our priority.</strong></small></p>
        </div>
    </session>
    <session class="section section--button">
        <h2 class="section__title">Buttons</h2>
        <div class="section__row section__row--buttons">
            <button class="btn btn-primary js_btnSignup"></button>    
            <button class="btn btn-secondary">send
                <svg width="40px" height="8px" viewBox="0 0 40 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Icons/40x8/arrow-right@2x</title>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Icons/40x8/arrow-right">
                            <rect id="Box" x="0" y="0" width="40" height="8"></rect>
                            <polyline id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" points="36 7 39 4 36 1"></polyline>
                            <line x1="1" y1="4" x2="39" y2="4" id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></line>
                        </g>
                    </g>
                </svg>
            </button>
            <button class="btn btn-default">add to cart
                <svg width="40px" height="8px" viewBox="0 0 40 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Icons/40x8/arrow-right@2x</title>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Icons/40x8/arrow-right">
                            <rect id="Box" x="0" y="0" width="40" height="8"></rect>
                            <polyline id="Path" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" points="36 7 39 4 36 1"></polyline>
                            <line x1="1" y1="4" x2="39" y2="4" id="Path" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"></line>
                        </g>
                    </g>
                </svg>
            </button>

            <button class="btn btn-link">learn more
                <svg width="40px" height="8px" viewBox="0 0 40 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Icons/40x8/arrow-right@2x</title>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Icons/40x8/arrow-right">
                            <rect id="Box" x="0" y="0" width="40" height="8"></rect>
                            <polyline id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" points="36 7 39 4 36 1"></polyline>
                            <line x1="1" y1="4" x2="39" y2="4" id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></line>
                        </g>
                    </g>
                </svg>
            </button>
        </div>
    </session>
</div>

<script>
    const arrowBlack = 
    `<svg width="40px" height="8px" viewBox="0 0 40 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Icons/40x8/arrow-right@2x</title>
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Icons/40x8/arrow-right">
                <rect id="Box" x="0" y="0" width="40" height="8"></rect>
                <polyline id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" points="36 7 39 4 36 1"></polyline>
                <line x1="1" y1="4" x2="39" y2="4" id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></line>
            </g>
        </g>
    </svg>`        
    const checkWhite = 
    `<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Icons/24x24/Check@2x</title>
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Icons/24x24/Check">
                <rect id="Box" x="0" y="0" width="24" height="24"></rect>
                <polyline id="Path" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" points="3 12 9 19 21 5"></polyline>
            </g>
        </g>
    </svg>
    `        
    const linkBtn = document.querySelector('.js_btnSignup')
    linkBtn.innerHTML = `sign up ${arrowBlack}`
    linkBtn.addEventListener('click', e => {
        linkBtn.classList.toggle('btn-signup--active');
        if(linkBtn.classList.contains('btn-signup--active')) linkBtn.innerHTML = `${checkWhite} signed up`
        else linkBtn.innerHTML = `sign up ${arrowBlack}`
    })
</script>