// Design tokens
@import "./src/design-tokens/index";

$component: '.plp';

#{$component}{
  padding-left: 4rem;
  background-color: color('grey');
}

#{$component}__head{
  margin-bottom: 2rem;
}

#{$component}__picture{
  display: block;
}

#{$component}__breadcrumb{
  display: block;
  padding: 0;
  margin: 1rem 0 0 0;

  li{
    display: inline-block;
    font-size: .75rem;

    &:not(:last-child)::after{
      content: '>';
      padding: 0 .3rem;
    }

    a{
      font-size: .75rem;
      line-height: 1rem;
      letter-spacing: .00625rem;
    }
  }
}

#{$component}__copy{
  max-width: 40rem;
  margin: 0 auto;
}

#{$component}__title{
  text-align: center;
  margin-bottom: 1rem;
}

#{$component}__description{
  text-align: center;
}

#{$component}__body{
  padding-right: 4rem;
}

#{$component}__sort{
  display: flex;
  align-items: center;
  margin-left: auto;
  width: max-content;
  margin-bottom: 2rem;
}

#{$component}__sort-title{
  margin-right: 1rem;
}

#{$component}__sort-wrapper{
  position: relative;
}

#{$component}__sort-arrow{
  position: absolute;
  right: .5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
}

#{$component}__sort-select{
  padding: 0.5625rem 1rem;
  font-family: var(--body-text-medium);
  font-weight: 500;
  background-color: #fff;
  border: 0.0625rem solid #000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 11.5625rem;
  outline: none;
}

#{$component}__productGrid{
  text-align: center;
  @include above('mobile-large'){
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: auto auto;
  }
  @include above('tablet'){
    grid-template-columns: auto auto auto;
  }
  @include above('tablet-large'){
    grid-template-columns: auto auto auto auto;
  }
}

.product{
  background-color: color('white');
}

.product__image{
  position: relative;
}
.product__atw{
  position: absolute;
  bottom: .3rem;
  right: .3rem;
}
.product__meta{
  padding: 1rem;
}


