$component: '.hero';

#{$component}{
  padding-bottom: rem(48px);

  @include above('tablet-large'){
    padding-bottom: rem(96rem);
  }
}

#{$component}__inner{
  position: relative;
}

#{$component}__overlay:after{
  @include above('tablet-large'){
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#{$component}__picture{
  display: block;
}

#{$component}__content{
  @include above('tablet-large'){
    position: absolute;
    bottom: 9rem;
    color: #fff;
  }
}

#{$component}__content--left{
  @include above('tablet-large'){
    left: 0;
  }
}

#{$component}__content--center{
  @include above('tablet-large'){
    left: 0;
    right: 0;
  }
}

#{$component}__content--right{
  @include above('tablet-large'){
    right: 0;
  }
}

#{$component}__container{
  width: max-content;
  padding-top: 1rem;
  margin: 0;

  @include above('tablet-large'){
    padding-top: 0;
  }
}

#{$component}__title{
  text-transform: uppercase;
  padding-bottom: 0.25rem;

  @include above('tablet-large'){
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: .09375rem;
  }
}

#{$component}__heading{
  
  @include above('tablet-large'){
    font-size: 3.5rem;
    line-height: 4rem;
  }


  strong{
    display: block;

    @include above('tablet-large'){
      display: initial;
    }
  }
}

#{$component}__btn{
  padding-top: 1rem;

  @include above('tablet-large'){
    padding-top: 2rem;
  }
}

#{$component}__btn-link{
  display: flex;
  align-items: center;
  justify-content: space-around;

  svg{
    color: color('white');
  }
}

#{$component}__btn-text{
  font-size: rem(10px);

  @include above('tablet-large'){
    font-size: rem(12px);
  }
}
