{% assign handle = icon %} {% case handle %}
{% when 'logo' %}
<svg width="206px" height="18px" viewBox="0 0 206 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Logo/Internal/SocietySocial@2x</title>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Logo/Internal/SocietySocial">
            <rect id="Box" x="0" y="0" width="206" height="18"></rect>
            <path d="M25.3667963,0 C30.7478769,0 34.631411,3.89042295 34.7397389,8.74130575 L34.7420635,9 C34.7420635,13.9474135 30.7744755,18 25.3157645,18 C19.9346735,18 16.051129,14.1088397 15.9428008,9.25793611 L15.9404762,9 C15.9404762,4.05258646 19.9080747,0 25.3667963,0 Z M45.2055278,0 C48.54616,0 50.5452937,1.09418385 52.1904199,2.68523983 L49.7103122,5.49450546 C48.3440086,4.27629323 46.9521409,3.53060572 45.1807543,3.53060572 C42.2526391,3.53060572 40.1278218,5.87241837 40.0456213,8.77496857 L40.0431504,9 C40.0431504,11.9835138 42.1437393,14.4693943 45.1807543,14.4693943 C47.2046509,14.4693943 48.4447048,13.6734818 49.8373526,12.4309273 L52.3174603,14.8916966 C50.4949456,16.8061352 48.4702689,18 45.0537139,18 C39.9146974,18 36.0791553,14.1584833 35.9706172,9.26296546 L35.968254,9 C35.968254,4.05258646 39.7643172,0 45.2055278,0 Z M139.40206,0 C144.767446,0 148.369048,4.15150625 148.369048,8.9748914 C148.369048,13.798274 144.716539,18 139.35195,18 C133.987298,18 130.384921,13.8477352 130.384921,9.02435 C130.384921,4.20172603 134.037409,0 139.40206,0 Z M159.763952,0 C162.972606,0 164.892363,1.11853385 166.66063,2.75980703 L165.296768,4.20172603 C163.806081,2.80926822 162.139089,1.81476276 159.73916,1.81476276 C155.823078,1.81476276 152.892762,4.92230494 152.892762,8.9748914 C152.892762,13.0274779 155.848586,16.1844812 159.73916,16.1844812 C162.163839,16.1844812 163.755801,15.2645378 165.448259,13.6734818 L166.761905,14.941919 C164.917871,16.7817878 162.896839,18 159.688144,18 C154.58522,18 150.821429,14.0463282 150.821429,9.02435 C150.821429,4.05258646 154.560469,0 159.763952,0 Z M6.84822595,0 C9.40710496,0 11.5890089,0.800339434 13.3701449,2.22503438 L11.3632857,5.12493153 C9.80784149,4.04990296 8.27774704,3.40029642 6.79831022,3.40029642 C5.37294287,3.40029642 4.59897161,4.02608784 4.54359565,4.83151867 L4.54039897,4.97496145 C4.54039897,5.71425592 4.851337,6.13323109 5.87991399,6.54411947 L6.12046494,6.63542178 C6.20469645,6.66589612 6.29303092,6.69645299 6.38563366,6.7272193 L6.67641197,6.82027343 L6.67641197,6.82027343 L6.99379165,6.91534561 L6.99379165,6.91534561 L7.52190834,7.06340335 L7.52190834,7.06340335 L8.11545701,7.22028472 C8.18516595,7.23830136 8.25614858,7.25652899 8.32842557,7.27498348 L8.76548693,7.39254399 L8.76548693,7.39254399 L9.18615765,7.5143729 C12.1417624,8.40425165 13.819483,9.67058918 13.8942164,12.3370757 L13.8968254,12.5751309 C13.8968254,16.0504098 11.2381567,18 7.45013012,18 C4.79145099,18 2.10744304,17.0749415 0,15.2003363 L2.28248772,12.4748974 C3.8632607,13.7748759 5.51849454,14.6004664 7.52537467,14.6004664 C9.10538486,14.6004664 10.058904,13.9753429 10.058904,12.9500561 L10.058904,12.9003195 C10.058904,12.3772587 9.88559838,11.990787 9.27151948,11.6290756 L9.0929142,11.530957 C8.93463466,11.4495629 8.75233194,11.3689227 8.54286618,11.2877236 L8.27826804,11.1899322 L8.27826804,11.1899322 L7.98638766,11.0911002 L7.98638766,11.0911002 L7.66601932,10.9907233 L7.66601932,10.9907233 L7.3159573,10.8882975 L7.3159573,10.8882975 L6.93499589,10.7833186 L6.93499589,10.7833186 L5.93355725,10.521317 L5.93355725,10.521317 L5.55525932,10.4165623 L5.55525932,10.4165623 L5.18850821,10.3092072 C5.12836368,10.2910546 5.06871407,10.2727611 5.00956629,10.2543104 L4.66075686,10.1415898 L4.66075686,10.1415898 L4.32432287,10.0243157 C2.12341752,9.22557373 0.769637099,8.07117581 0.704908313,5.51941671 L0.702477531,5.27489641 C0.702477531,2.10031793 3.26134609,0 6.84822595,0 Z M121.072903,0 C123.693606,0 125.568934,0.725354393 127.392359,2.15005455 L126.211316,3.67498296 C124.541226,2.35052147 122.871157,1.77513455 121.02177,1.77513455 C118.683356,1.77513455 117.193312,3.02537642 117.193312,4.62528987 C117.193312,5.92419478 117.74945,6.7721276 119.844541,7.47207489 L120.188277,7.58140726 C120.247745,7.59943908 120.308316,7.61737946 120.370005,7.63523393 L120.753721,7.74137386 C120.81996,7.75890674 120.887354,7.77636474 120.955922,7.79375339 L121.381551,7.89729723 C121.454883,7.91443056 121.529425,7.93150557 121.605193,7.9485278 L122.07467,8.05007189 C126.082382,8.90014535 127.93254,10.3248455 127.93254,13.0250359 C127.93254,16.0504098 125.362905,18 121.792337,18 C118.940476,18 116.602812,17.0749415 114.444444,15.2003363 L115.70331,13.7503929 C117.578596,15.400043 119.376871,16.2248681 121.86939,16.2248681 C124.284106,16.2248681 125.877166,14.9998694 125.877166,13.2255081 C125.877166,11.78139 125.188452,10.8926313 122.486277,10.1737538 L122.086412,10.072171 C121.948462,10.0386676 121.805804,10.0055077 121.658295,9.97264983 L120.955593,9.82194687 L120.955593,9.82194687 L120.480671,9.71267117 C116.843883,8.8386217 115.163922,7.5264068 115.163922,4.80050837 C115.163922,2.00008447 117.655669,0 121.072903,0 Z M183.636661,0 L191.694444,17.5909091 L189.547623,17.5909091 L187.476559,12.9751494 L177.852488,12.9751494 L175.755898,17.5909091 L173.710317,17.5909091 L181.768143,0 L183.636661,0 Z M58.8571429,0 L58.8571429,17.5909091 L54.7698413,17.5909091 L54.7698413,0 L58.8571429,0 Z M75.8968071,0 L75.8968071,3.44264897 L66.407486,3.44264897 L66.407486,7.01144249 L74.7582969,7.01144249 L74.7582969,10.4540993 L66.407486,10.4540993 L66.407486,14.1482523 L76.0238095,14.1482523 L76.0238095,17.5909091 L62.5357143,17.5909091 L62.5357143,0 L75.8968071,0 Z M92.3730159,0 L92.3730159,3.56878829 L86.969006,3.56878829 L86.969006,17.5909091 L83.0619792,17.5909091 L83.0619792,3.56878829 L77.6587302,3.56878829 L77.6587302,0 L92.3730159,0 Z M97.7619427,0 L102.00383,7.06143866 L106.321109,0 L110.765873,0 L103.933948,10.5802334 L103.933948,17.5909091 L100.022401,17.5909091 L100.022401,10.6556097 L93.1904762,0 L97.7619427,0 Z M170.849206,0 L170.849206,17.5909091 L168.805556,17.5909091 L168.805556,0 L170.849206,0 Z M196.126454,0 L196.126454,15.7565227 L206,15.7565227 L206,17.5909091 L194.146825,17.5909091 L194.146825,0 L196.126454,0 Z M139.351513,1.63636364 C135.308517,1.63636364 132.428571,4.80706046 132.428571,8.77081265 C132.428571,12.7345597 135.359523,15.9545455 139.401782,15.9545455 C143.444757,15.9545455 146.325397,12.7838435 146.325397,8.82009387 C146.325397,4.85710013 143.394488,1.63636364 139.351513,1.63636364 Z M25.3158472,3.68181818 C22.2536094,3.68181818 20.111431,5.96063861 20.030172,8.78444676 L20.0277778,8.99999748 C20.0277778,11.9010285 22.2436555,14.3181818 25.366703,14.3181818 C28.4289408,14.3181818 30.571109,12.0393614 30.6523676,9.21485736 L30.6547619,8.99999748 C30.6547619,6.09897399 28.4388946,3.68181818 25.3158472,3.68181818 Z M182.715318,2.86363636 L178.615079,11.4545455 L186.789683,11.4545455 L182.715318,2.86363636 Z" id="Logo" fill="#000000"></path>
        </g>
    </g>
</svg>
{% when 'cross' %}
<svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Icons/16x16/Close@2x</title>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Icons/16x16/Close">
            <rect id="Box" x="0" y="0" width="16" height="16"></rect>
            <line x1="-0.485281374" y1="8" x2="16.4852814" y2="8" id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" transform="translate(8.000000, 8.000000) rotate(-45.000000) translate(-8.000000, -8.000000) "></line>
            <line x1="-0.485281374" y1="8" x2="16.4852814" y2="8" id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" transform="translate(8.000000, 8.000000) rotate(45.000000) translate(-8.000000, -8.000000) "></line>
        </g>
    </g>
</svg>

{% when 'arrow-right' %}
    <svg width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Icons/16x8/arrow-right@2x</title>
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Icons/16x8/arrow-right">
                <rect id="Box" x="0" y="0" width="16" height="8"></rect>
                <polyline id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" points="12 7 15 4 12 1"></polyline>
                <line x1="1" y1="4" x2="15" y2="4" id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></line>
            </g>
        </g>
    </svg>
{% when 'arrow-right--large' %}
    <svg width="40px" height="8px" viewBox="0 0 40 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Icons/40x8/arrow-right@2x</title>
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Icons/40x8/arrow-right">
                <rect id="Box" x="0" y="0" width="40" height="8"></rect>
                <polyline id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" points="36 7 39 4 36 1"></polyline>
                <line x1="1" y1="4" x2="39" y2="4" id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></line>
            </g>
        </g>
    </svg>

{% when 'arrow-left--slider' %}
<svg class="" width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Icons/16x8/arrow-left"> <rect id="Box" x="0" y="0" width="16" height="8"></rect> <polyline id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" points="4 7 1 4 4 1"></polyline> <line x1="1" y1="4" x2="15" y2="4" id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></line> </g> </g> </svg>

{% when 'arrow-right--slider' %}
<svg class="" width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Icons/16x8/arrow-right"> <rect id="Box" x="0" y="0" width="16" height="8"></rect> <polyline id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" points="12 7 15 4 12 1"></polyline> <line x1="1" y1="4" x2="15" y2="4" id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></line> </g> </g> </svg>

{% when 'magnifier' %}
    <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Icons/16x16/Magnifier@2x</title>
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Icons/16x16/Magnifier">
                <rect id="Box" x="0" y="0" width="16" height="16"></rect>
                <path d="M1,5.86956522 C1,8.55895183 3.18017861,10.7391304 5.86956522,10.7391304 C8.55895183,10.7391304 10.7391304,8.55895183 10.7391304,5.86956522 C10.7391304,3.18017861 8.55895183,1 5.86956522,1 C3.18017861,1 1,3.18017861 1,5.86956522 Z" id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></path>
                <line x1="9.31234783" y1="9.31234783" x2="15" y2="15" id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></line>
            </g>
        </g>
    </svg>
{% when 'love' %}
    <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Icons/16x16/Heart-Empty@2x</title>
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Icons/16x16/Heart-Empty">
                <rect id="Box" x="0" y="0" width="16" height="16"></rect>
                <path d="M8,15 C2.95416667,11.7041667 1,8 1,5.22916667 C1,2.89583333 2.69166667,1 4.79166667,1 C6.1625,1 7.35833333,1.81666667 8,3.0125 C8.67083333,1.81666667 9.86666667,1 11.2083333,1 C13.3083333,1 15,2.89583333 15,5.22916667 C15,8 13.0458333,11.7041667 8,15 Z" id="Path" stroke="#E1146D" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
        </g>
    </svg>
{% when 'account' %}
    <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Icons/16x16/User@2x</title>
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Icons/16x16/User">
                <rect id="Box" x="0" y="0" width="16" height="16"></rect>
                <path d="M15,15 C15,15 12.4290909,13.8338911 10.632,13.1522463 C9.45345455,12.7017339 9.62145455,10.6620227 10.3036364,9.89549866 C11.4998198,8.6921964 12.0906373,6.99160242 11.906,5.28329637 C12.0080455,4.16690677 11.6389488,3.05916585 10.8921519,2.24051383 C10.145355,1.42186181 9.09245192,0.970781354 8,1.00146984 C6.90754808,0.970781354 5.85464504,1.42186181 5.10784814,2.24051383 C4.36105124,3.05916585 3.99195451,4.16690677 4.094,5.28329637 C3.90936269,6.99160242 4.50018022,8.6921964 5.69636364,9.89549866 C6.37854545,10.6620227 6.54654545,12.7017339 5.368,13.1522463 C3.57090909,13.8338911 1,15 1,15" id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
        </g>
    </svg>
{% when 'cart' %}
    <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Icons/16x16/Cart@2x</title>
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Icons/16x16/Cart">
                <rect id="Box" x="0" y="0" width="16" height="16"></rect>
                <path d="M2.88363663,4.04347825 L14.3828896,4.04347825 C14.5751938,4.04347825 14.7565195,4.13186581 14.8732719,4.2826207 C14.9900242,4.43337558 15.0288503,4.6292175 14.9782743,4.81226087 L13.7116166,9.39330435 C13.4920966,10.1877855 12.7607563,10.7390241 11.9260796,10.7391304 L4.3125598,10.7391304" id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M1,1 L1.23321803,1 C1.81672179,1 2.32044399,1.40328575 2.44064577,1.9666087 L4.49580253,11.5986087 C4.61600431,12.1619316 5.11972651,12.5652174 5.70323027,12.5652174 L12.7225994,12.5652174" id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M4.39338403,14.0869565 C4.39338403,14.5912165 4.80773034,15 5.31885241,15 C5.82997447,15 6.24432078,14.5912165 6.24432078,14.0869565 C6.24432078,13.5826965 5.82997447,13.173913 5.31885241,13.173913 C4.80773034,13.173913 4.39338403,13.5826965 4.39338403,14.0869565 L4.39338403,14.0869565 Z" id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M10.5631732,14.0869565 C10.5631732,14.5912165 10.9775195,15 11.4886416,15 C11.9997636,15 12.4141099,14.5912165 12.4141099,14.0869565 C12.4141099,13.7607575 12.2377167,13.4593372 11.9513758,13.2962376 C11.6650348,13.1331381 11.3122483,13.1331381 11.0259074,13.2962376 C10.7395664,13.4593372 10.5631732,13.7607575 10.5631732,14.0869565 L10.5631732,14.0869565 Z" id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
        </g>
    </svg>

{% when 'toggler' %}
    <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Icons/16x16/Hamburger">
                <rect id="Box" x="0" y="0" width="16" height="16"></rect>
                <line x1="1" y1="15" x2="15" y2="15" id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></line>
                <line x1="1" y1="8" x2="15" y2="8" id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></line>
                <line x1="1" y1="1" x2="15" y2="1" id="Path" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></line>
            </g>
    </g>
    </svg>

    
{% else %}
{% endcase %}