<div class="topbar__icons above1366-only">
    <a class="topbar__icon" href="#">{% render 'icons',icon:'magnifier', class:'topbar__icon topbar__icon--search'%}</a>
    <a class="topbar__icon" href="#">{% render 'icons',icon:'love', class:'topbar__icon topbar__icon--love'%}</a>
    <a class="topbar__icon" href="#">{% render 'icons',icon:'account', class:'topbar__icon topbar__icon--account'%}</a>
    <a class="topbar__icon" href="#">{% render 'icons',icon:'cart', class:'topbar__icon topbar__icon--cart'%}</a>
</div>    