<div class="announcement__icons above1366-only">
    <a class="announcement__icon" href="#">{% render 'icons',icon:'magnifier' %}</a>
    <a class="announcement__icon" href="#">{% render 'icons',icon:'love' %}</a>
    <a class="announcement__icon" href="#">{% render 'icons',icon:'account' %}</a>
    <a class="announcement__icon" href="#">{% render 'icons',icon:'cart' %}</a>
</div>    